<!doctype html>
<html>
  <head>
    <title>Users</title>
  </head>
  <body>
    <!-- une conditionelle -->

    {% for name in data %}
    <section>
      {% if name %}
      <h1>{{ name }}</h1><!-- une substitution -->
      {% else %}
      <h1>Anonyme</h1>
      {% endif %}
      <ul>
        <!-- une boucle -->
        {% for v in data[name] %}
        <li>{{ v }}</li>
        {% endfor %}
      </ul>
    </section>
    {% endfor %}
  </body>
</html>
